<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    var readingsUrl = document.location.href + 'readings/{{meter_id}}';

    var data = '';

    $.ajax({
        type: 'GET',
        url: readingsUrl,
        success: function(data, textStatus, jqXHR) {
            loadData(data);
        },
        error: function(data) {
            console.log('error');
            console.log(data);            
            alert('Something went wrong');
        }
    });

    function loadData(response) {
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var readings = response.readings;

            var options = {'title':'Power Consumption Over Time',
                        'width':800,
                        'height':600};

            var timeOptions = { hour12: true };

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Time');
            data.addColumn('number', 'kW per Hour');
            data.addColumn({type: 'string', role: 'tooltip'});
            readings.forEach(function(element) {
                var date = new Date(element.time);
                data.addRow([date, element.consumption, date.toLocaleTimeString('en-US', timeOptions) + ' ' + element.consumption.toPrecision(2)]);
            }, this);

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    }
</script>
<div id="chart_div"></div>
